nav {
    display: inline-block;
    margin: 10px 20px;
    height: 100vh;
}
ul.nav-list {
    list-style: none;
}
ul.nav-list li {
    border: 1px solid;
    border-radius: 4px;
    padding: 1rem 2rem;

}
ul.nav-list li a{
    text-decoration: none;
    color: dodgerblue;
    font-weight: 500;
}